@font-face {
    font-family: "Clash Display";
    src: url("Assets/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2, h3,
.build, .rights {
    font-family: "Clash Display", sans-serif;
}

ul li {
    list-style: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    cursor: pointer;
}

ul li:hover {
    border-bottom: 2px solid #958ebb;
}

.contact,
.join,
.build {
    transition: all 0.3s ease;
}

.contact {
    border: 4px solid rgba(255, 255, 255, 0.823);
    cursor: pointer;
}

.contact:hover,
.join:hover,
.build:hover {
    transform: scale(1.02);
}

.join,
.build, .iconBg, .numberOne, .numberTwo, .numberThree, .numberFour {
    cursor: pointer;
    background-image: linear-gradient(to right, #8077ad, #beb5e3);
}

.seta {
    animation: arrowRight 2s infinite;
}

@keyframes arrowRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.contactInfo {
    background: #ad5389;
    background: linear-gradient(to right, #22202e, #383353, #22202e);
}

.card, .forms {
    background: radial-gradient(48.74% 50% at 50.04% 50%, #423D5E 0%, #1F1D2C 100%);
}

.banner{
    background-image: url(Assets/tech.jpg);
    background-size: cover;
    background-position:0px -100px;
    background-repeat: no-repeat;
}

.servicos img{
    filter: brightness(0) invert(1) opacity(0.4);
}

.inputGroup {
    margin: 1em 0 1em 0;
    position: relative;
    width: 100%;
}

.inputGroup input {
    font-size: 100%;
    padding: 2em;
    outline: none;
    border: 4px solid rgba(200, 200, 200, 0.802);
    background-color: transparent;
    border-radius: 100px;
    width: 100%;
}

.inputGroup label {
    position: absolute;
    left: 0;
    top: 16%;
    padding: 0.8em;
    margin-left: 4em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #cac9d4;
    border-radius: 10px;
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-150%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color:#0000009b;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

.social{
    transition: all 0.3s ease;
}

.social:hover{
    transform: scale(1.05);
}